﻿

<div class="jumbotron ">
    <h2 class=" mi-box paddin alert-danger text-center ">Welcome to SBISI Web API!</h2>

    <p>SBI, Welcomes you all to ubiquitous world of Web APIs </p>
    <div class="text-center">
        <img src="~/Content/1.png" class=" image-hover" data-toggle="tooltip" title="Innovate!" />
        <img src="~/Content/api2.png" class=" image-hover" data-toggle="tooltip" title="Restfull!" />
        <img src="~/Content/api3.png" class=" image-hover" data-toggle="tooltip" title="Use anywhere!" />
        <img src="~/Content/api4.png" class=" image-hover" data-toggle="tooltip" title="Share!" />
    </div>
</div>
<div class="row">
    @*<div class="col-md-4 " style="height:150px;">
    <div class="mi-box alert-info paddin opacity" style=" border: 2px solid #1A74A0;">
        <h2>Getting started</h2>
        <p>
            Easy to host APIs and get them working on the fly!
        </p>
    </div>
    </div>
    <div class="col-md-4 " style="height:150px;">
        <div class="mi-box alert-success paddin opacity" style="border: 2px solid #73AD21;">
            <h2>Countless APIs</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        </div>
    </div>*@
        <div class="col-md-12 " >
            <div class="mi-box alert-warning paddin opacity" style=" border: 2px solid #A58D0F;">
                <h3>Brief Description</h3>
                <p>This API provides various functionalities including but not limited to...</p>
            </div>
        </div>
    </div>


